@import url("https://fonts.googleapis.com/css2/family=Patrick+Hand&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Patrick Hand", cursive;
}

.footer {
  opacity: 0.5;
  text-align: center;
  font-weight: bold;
  color: wheat;
  margin-top: 30px;
}

.footer:hover {
  opacity: 1;
  color: lightgreen;
}

#rewa {
  margin: auto;
  align-items: center;
  text-align: center;
  width: fit-content;
  font-weight: bold;
  font-size: 40px;
}

h1 {
  text-align: center;
  color: wheat;
}

section {
  height: 100vh;
}

.container {
  margin: auto;
  padding-top: 30vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.title {
  text-align: center;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 25px;
  color: wheat;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(68, 36, 82);
}

.contentwrapper {
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: fit-content;
  background-color: wheat;
  border-radius: 15px;
}

.rewardwrapper {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: wheat;
  padding: 10px;
  border-radius: 15px;
}

#full {
  width: 280px;
  border: 0px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(68, 36, 82);
  border-radius: 10px;
  color: wheat;
  font-size: 2em;
  cursor: pointer;
}

#full:hover {
  background-color: rgb(184, 108, 255);
}

#full:hover:active {
  background-color: rgb(75, 23, 122);
}

#register {
  width: 100%;
  border: 0px;
  padding: 10px;
  background-color: rgb(68, 36, 82);
  border-radius: 0 0 10px 10px;
  color: wheat;
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
}

#register:hover {
  background-color: rgb(184, 108, 255);
}

#register:hover:active {
  background-color: rgb(75, 23, 122);
}

#usr {
  width: 100px;
  margin-left: 30px;
  padding-right: 10px;
  font-weight: bold;
  color: rgb(68, 36, 82);
}

#username {
  width: 120px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(68, 36, 82);
  margin-bottom: 10px;
  border: 0px;
  color: wheat;
  transition: 0.5s;
}

#username:focus {
  width: 70%;
}

#brt {
  width: 100px;
  margin-left: 30px;
  padding-right: 19px;
  font-weight: bold;
  color: rgb(68, 36, 82);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-color: wheat !important;
  box-shadow: 0 0 0 30px wheat inset !important;
}

#birth {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(68, 36, 82);
  border: 0px;
  color: wheat;
}

::placeholder {
  color: wheat;
  opacity: 0.5;
  font-style: italic;
}

#life {
  height: 50%;
  text-align: center;
  font-size: 40px;
  color: wheat;
}

.gamewrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 50%;
}

.buttonwrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoutButton {
  display: none;
}

.startButton {
  padding: 20px;
  border: none;
  background-color: rgb(68, 36, 82);
  color: wheat;
  border-radius: 40%;
  font-size: 2em;
  width: 200px;
  height: 100px;
  cursor: pointer;
  transition: 0.8s;
}

.startButton:hover {
  background-color: rgb(35, 0, 66);
}

.startButton:hover:active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.box {
  font-size: 5em;
  margin: 10px;
  padding: 15px;
  border: 5px solid wheat;
  border-radius: 10px;
}

#navwrapper {
  visibility: hidden;
  width: 100%;
  background-color: rgb(68, 36, 82);
  position: fixed;
  top: 0;
}

.navigation {
  margin: auto;
  justify-content:center;
  width: 1080px;
  font-weight: bold;
  font-size: 25px;
  color: wheat;
}

.top {
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  margin-bottom: -100px;
  background-color: wheat;
  color: rgb(68, 36, 82);
  border-radius: 100%;
  transition: 0.5s;
}

#infop {
  padding: 20px 10px 0 0;
  float: left;
}

#reset {
  float: right;
  font-size: 20px;
  padding: 10px;
  background-color: wheat;
  color: rgb(68, 36, 82);
  border-radius: 20px;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}

#reset:hover{
  background-color: #230042;
  color: wheat;
}

.dropdown {
  width: fit-content;
  float: left;
  padding: 10px;
}

.dropdown .dropbtn {
  font-size: 30px;
  border-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(68, 36, 82);
  color: wheat;
  padding: 5px 5px;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  transition: 0.3s;
}

.dropdown:hover .dropbtn {
  background-color: wheat;
  color: rgb(68, 36, 82);
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  font-size: 1em;
  border-radius: 10px;
  background-color: wheat;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(68, 36, 82);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#main {
  opacity: 0;
}

#start {
  margin-top: -100px;
  display: none;
}

#reward {
  display: none;
}

#infopic{
  display: none;
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .navigation {
    width: 100%;
  }

  #reset{
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {

  .box {
    font-size: 3.5em;
    margin: 1vw;
    padding: 2vw;
  }

  #life {
    font-size: 3em;
  }

  #idt, #idtt{
    display: none;
  }

  .contentwrapper {
    width: 90%;
  }

  #info1 {
    display: grid;
    grid-template-rows: auto auto;
  }

  #info2 {
    display: grid;
    grid-template-rows: auto auto;
  }

  #username {
    width: 120px;
    margin-left: 30px;
  }

  #username:focus {
    width: 80%;
  }

  #birth {
    width: 120px;
    margin-left: 30px;
  }

}

@media only screen and (max-height: 500px){
  
  #rewa {
    margin-top: 100px;
  }

}
